<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- cadena de conexión a la base de datos-->
    <!--CoinImportada-->
    <add key="Default" value="Persist Security Info=False;Integrated Security=no;database=DisproQM;server=it,1433;User ID=sa; Password=Programacion20" />
    <!---
    <add key="Default" value="Persist Security Info=False;Integrated Security=no;database=DisproQM;server=DESKTOP-7BOK4N9,1433;User ID=sa; Password=Disproquimed21" />-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>